.App {
  max-width: 10000px;
  margin: 0 auto;
  padding: 100px;
  font-family: Arial, sans-serif;
  background-color: hsl(17, 98%, 51%);
  height: 100vh; 
}

.App h1 {
  color: white; /* Change heading color to white */
}

.input-container {
  margin-bottom: 20px;
}

input[type='text'] {
  padding: 8px;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  background-color: #0bc524;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0d1f33;
}

.todo-list {
  list-style-type: none;
  padding: 0;
}

.todo-list li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.todo-list li.completed {
  text-decoration: line-through;
  color: #888;
}

.todo-text {
  flex: 1;
  margin: 0 10px;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
